sfdc-sys-api-v1/META-INF/mule-src/sfdc-sys-api-v1/src/main/mule/implementation/impl-order-insert.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:workday="http://www.mulesoft.org/schema/mule/workday"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="impl-customers:\insert-billing-order:flow" doc:id="dc58c938-8090-42b6-a934-cbbd70e8e0c1" >
		<logger level="INFO" doc:name="Start Upsert Customer Order Item Data Flow" doc:id="8f6b78b2-af27-4696-aede-91289116a438" message="#[vars.correlationId] | Start create  Customer Order Data Flow | payload: #[payload]" />
		<ee:transform doc:name="Transform payload to JSON" doc:id="83e5d5ea-9e9e-402a-90a1-49d88c527b5c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
read(payload,"application/json")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Build Payload; Set Original Payload, keyRef, batchId" doc:id="12da774d-cf89-41d6-9766-332bff387ba8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var data = payload
//var payment = data.paymentInfo[0]
//var account = data.accountDetails[0]
---
[{
        "CustomerReference__c": data.customerReference,
        "AccountReference__c": data.accountReference,
        "OrderId__c": data.orderId,
        "SalesPersonCode__c": data.subscription.servicePackagePlan,
        "ServicePackagePlan__c": data.subscription.salesPersonCode,
        "SubscriptionDetails__c": data.subscription.msisdn,
        "trackingNumber__c": data.trackingNumber
}]

]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="origPayload" ><![CDATA[%dw 2.0
output application/json

---
payload]]></ee:set-variable>
				<ee:set-variable variableName="retryCount" ><![CDATA[%dw 2.0
output application/java
---
attributes.properties.retryCount default 0]]></ee:set-variable>
				<ee:set-variable variableName="origQueue" ><![CDATA[%dw 2.0
output application/java
---
attributes.destination default ""]]></ee:set-variable>
				<ee:set-variable variableName="batchJobOrderInsertId" ><![CDATA[%dw 2.0
output application/java
---
attributes.properties.SFDC_ORDER_INSERT_BATCH_ID default null]]></ee:set-variable>
				<ee:set-variable variableName="keyRef" ><![CDATA[%dw 2.0
output application/java
---
payload.customerReference]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<try doc:name="Try" doc:id="76c0f63d-8e51-41d7-9e9a-8b59e239afca" >
			<flow-ref doc:name="sys-crm-api:\upsert-account-to-sfdc" doc:id="fa1c5a25-57e6-4ea7-b717-11eea2c780a4" name="sys-crm-api:\insert-single-order-to-sfdc" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="837e6cbe-0a48-491c-aef5-eeeaf2f7446e" >
					<until-successful maxRetries="${secure::sfdc.insert.retry.count}" doc:name="Until Successful" doc:id="86da458d-bce7-4d10-a2de-f2e87864dfae" millisBetweenRetries="${secure::sfdc.insert.retry.frequency}">
						<logger level="INFO" doc:name="Logger Error" doc:id="fbcf7870-5077-45d3-8ba5-07d944e13207" message="#[%dw 2.0 output application/java fun getCurrentDate() =  now() as String {format: &quot;dd/MM/yyyy hhss&quot; } --- 
&quot;Error while processing the SFDC insert&quot; ++ &quot; | &quot; ++ getCurrentDate() default '' ++ &quot; | &quot; ++   ((error.description default error.errorMessage) default error.cause) default &quot;&quot;]"/>
						<flow-ref doc:name="sys-crm-api:\upsert-account-to-sfdc" doc:id="377c1524-347a-43fd-a93b-c00e5324e0de" name="sys-crm-api:\insert-single-order-to-sfdc" />
					</until-successful>
				</on-error-continue>
			</error-handler>
		</try>
		<!-- <choice doc:name="Route 1: Batch Id is Blank - New Job;  Route 2: Default - Batch Id has Value" doc:id="49c9e123-2030-4ae7-b700-f6352fbd9cdc" >
			<otherwise >
				<flow-ref doc:name="sys-crm-api:\query-job-upsert-state" doc:id="4f436aee-2210-4740-b813-02cce3e415eb" name="sys-crm-api:\query-job-order-insert-state"/>
			</otherwise>
		</choice> -->
		<logger level="INFO" doc:name="End Upsert Customer Order Data Flow" doc:id="e25ff8d8-a220-4dd0-92f7-13af2eb77c43" message="#[vars.correlationId] | End Insert Customer Order Data Flow |]" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="cce2a2f5-16b4-406c-82f7-3813e97da4e3" type="ANY">
				<logger level="ERROR" doc:name="Log and Handle Not Reprocessable Error" doc:id="8312e2fd-b5a1-4d76-9dde-ca3f3ac6cb18" message='#[%dw 2.0
 output application/json 
 --- 
 vars.correlationId ++ 
" Log Not Reprocessable Error while Inserting Customer Order Details : " ++ ((error.description default error.errorMessage) default error.cause) default ""]' />
			</on-error-continue>
		</error-handler>
	</flow>
	<!-- <flow name="impl-customers:\process-order-insert-results:flow" doc:id="0944391a-958a-4eff-9cf3-7d9b32cb2bf2">
		<logger level="INFO" doc:name="Start Processing Job Insert Results" doc:id="f04ab0f2-71ea-4eff-9373-0f7546e22124" message="#[vars.correlationId] | Start Processing Job Insert Results]" />
		<ee:transform doc:name="Set Batch Job Upsert Id" doc:id="f99adc82-a9e5-4779-84dd-f937fad98a2c">
					<ee:message>
					</ee:message>
					<ee:variables>
				<ee:set-variable variableName="batchJobUpsertId" ><![CDATA[%dw 2.0
output application/java

-&#45;&#45;
payload.id]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<scatter-gather doc:name="All-Success-And-Failed Transactions" doc:id="0e11c268-6d04-4f6e-95b6-c55dcf2f49ec">
			<route>
				<flow-ref doc:name="sys-crm-api:\upsert-success-job-result" doc:id="8eef772c-f8f4-44e8-a45a-a34bd9d3e4b7" name="sys-crm-api:\upsert-success-job-result" />
				<choice doc:name="Route 1: Batch Job With Processed Records; Route Default: No Processed Record - Ignore" doc:id="e278f801-3d90-46e5-aa9f-c260addbe132" >
					<when expression="#[%dw 2.0
output application/java
-&#45;&#45;
sizeOf(payload) &gt; 0]">
						<ee:transform doc:name="Build To Common Message Structure" doc:id="fc6b3a5e-5221-4b04-86ad-089c194a4a4e">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
vars.origPayload
]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="queueDestination"><![CDATA[%dw 2.0
output application/java
-&#45;&#45;
p('order.items.sfdc.insert.queue.name')]]></ee:set-variable>
								<ee:set-variable variableName="table" ><![CDATA[%dw 2.0
output application/java
-&#45;&#45;
"OrderDetails__c"]]></ee:set-variable>
								<ee:set-variable variableName="where" ><![CDATA[%dw 2.0
output application/java
-&#45;&#45;
"CustomerReference__c"]]></ee:set-variable>
								<ee:set-variable variableName="condition" ><![CDATA[%dw 2.0
output application/java
var data=vars.origPayload
-&#45;&#45;
data.customerReference]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
						<flow-ref doc:name="impl-order-insert\query-sfdc-order-data" doc:id="1f61bf40-5739-4629-93a3-406803503719" name="impl-order-insert\query-sfdc-order-data" />
						<foreach doc:name="" doc:id="b6ed4357-54ae-4860-afbd-f5f347b55d52" collection="#[payload]" >
							<choice doc:name="Route 1: Order Id is available in SFDC; Route Default: Order Id is not available in SFDC - Ignore" doc:id="f499a9d7-acad-44c1-a167-aa362b40c307">
								<when expression="#[sizeOf(vars.orderAccount) &gt; 0]">
									<logger level="INFO" doc:name="Log for account is available in SFDC" doc:id="a7113178-10f0-4d63-ae42-5964e4eb689f" message="Order ID is available" />
								</when>
								<otherwise>
									<logger level="INFO" doc:name="Log for account id is not available in SFDC" doc:id="eb170955-e1b2-4d53-bea0-99a767f438e4" message="Order ID is not available" />
								</otherwise>
							</choice>
						</foreach>
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Log Upsert Batch Job With No Processed Record Count" doc:id="1becd36f-f476-4061-8b02-f8b1287d6acc" message="#[vars.correlationId] | Log Upsert Batch Job With No Processed Record Count | Upsert Batch Job Id: #[vars.batchJobUpsertId]" />
					</otherwise>
				</choice>
			</route>
			<route>
				<flow-ref doc:name="sys-crm-api:\upsert-failed-job-result" doc:id="d394e201-1256-4dbd-8c34-1ec21e83d38d" name="sys-crm-api:\upsert-failed-job-result" />
				<choice doc:name="Route 1: Batch Job With Failed Record Count; Route Default: No Failed Record Count - Ignore" doc:id="224c63db-b3ef-4c3f-bb90-86fcc50fc7bf" >
					<when expression="#[%dw 2.0
output application/java
-&#45;&#45;
sizeOf(payload) &gt; 0]">
						<logger level="INFO" doc:name="Log Upsert Batch Job With Failed Records Count" doc:id="bb9be893-2fec-4cc7-879d-c435295808da" message="#[vars.correlationId] | Log Upsert Batch Job With No Failed Records Count | Upsert Batch Job Id: #[vars.batchJobUpsertId]" />
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Log Upsert Batch Job With No Failed Records Count" doc:id="786e9ddc-b1a6-42b4-9953-4a7daa1ff016" message="#[vars.correlationId] | Log Upsert Batch Job With No Failed Records Count | Upsert Batch Job Id: #[vars.batchJobUpsertId]" />
					</otherwise>
				</choice>
			</route>
		</scatter-gather>
		<logger level="INFO" doc:name="End Processing Job Upsert Results" doc:id="f13905c3-9e66-4c64-8234-1e8f6a0eb508" message="#[vars.correlationId] | End Processing Job Insert Results]" />
	</flow>
		<sub-flow name="impl-order-insert\query-sfdc-order-data" doc:id="b6e61526-8374-446b-b7e4-648abf47d56d">
					<logger level="INFO" doc:name="Log order detail query input" doc:id="8b612869-bd0a-4c70-a642-d50ef5291f39" message='#["Size of the paylod : "++ sizeOf(payload)]'/>
		<flow-ref doc:name="sys-crm-api:\query-account-from-sfdc" doc:id="177b8831-b352-4676-9d68-00966221b05a" name="sys-crm-api:\query-account-from-sfdc" target="orderStatus" />
				<set-variable value='#[write(vars.orderStatus,"application/json")]' doc:name="Set Variable - SFDC Query Data" doc:id="b77b5012-7b03-4601-bbe6-63abb4d53c23" variableName="orderAccount"/>
				<ee:transform doc:name="Map to JSON" doc:id="7db99af1-ae7f-477f-94bc-3947d13451f6">
					<ee:message>
					</ee:message>
					<ee:variables>
				<ee:set-variable variableName="orderAccount" ><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
read(vars.orderAccount, "application/json")]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Log SFDC response payload" doc:id="5f0d5883-c1d8-4f08-8b60-06a79ab1bf6b" message="SFDC Order Select Query Response - #[vars.orderAccount]"/>
	
	</sub-flow> -->
</mule>
