billing-mgmt-prc-api-v1/META-INF/mule-src/billing-mgmt-prc-api-v1/src/main/mule/implementation/impl-billing-mgmt.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:workday="http://www.mulesoft.org/schema/mule/workday" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd">
	<flow name="impl-billing-mgmt:\transform-billing-data:flow" doc:id="56f13c06-92f5-4039-80a2-9525e822864b" >
		<logger level="INFO" doc:name="Start Bill Mgmt Data Flow" doc:id="68a8032a-82c5-426f-a3fe-48c7bea98ae2" message="#[vars.correlationId] | Start Bill Mgmt Data Flow | payload: #[payload]"/>
		<set-variable value="#[uuid()]" doc:name="Set Tracking Numer" doc:id="907d83d8-c368-42ca-8e30-02582cf595ac" variableName="trackingNumber"/>
		<ee:transform doc:name="Build Payload; Set topic name; Append trackingNumber" doc:id="7ff59f72-b4c6-4132-a95b-2a97c2409e09" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload ++
{
	
 "trackingNumber": vars.trackingNumber
 
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="topicName" ><![CDATA[%dw 2.0
output application/java
---
p('secure::kafka.topic.name')]]></ee:set-variable>
				<ee:set-variable variableName="origPayload" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="customerReference" ><![CDATA[%dw 2.0
output application/java
---
payload.customerReference default now()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="sys-kafka-app:\publish-msg-to-kafka" doc:id="10f1c8cc-8219-47a2-84ff-95ece6dab5a6" name="sys-kafka-app:\publish-msg-to-kafka" target="kafkaPayload"/>
		<ee:transform doc:name="Set Response; Tracking Number." doc:id="8a55eb72-b265-42d9-ad99-41a01a767d99" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "trackingNumber": vars.trackingNumber,
  "message": "Message published to Kafka topic"
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
p('api.response.upsert.success.code')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="End Of Bill Mgmt Data Flow" doc:id="b6711b12-2778-4c1e-9cc1-1ed5aa840240" message="#[vars.correlationId] | End Of Bill Mgmt Data Flow | payload: #[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="2149cdfc-dccc-4bdb-8ef3-8cc998020504" type="ANY">
				<ee:transform doc:name="Build Error Response" doc:id="5c669a52-1696-4a8c-8583-6e35b1535cf9">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json 

var errorDefault = {
				    "message": "Technical Exception",
				    "details": "Error in publishing billing data to Kafka"
				    }
---
if(error.errorMessage.payload != null) error.errorMessage.payload
else errorDefault]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="topicName" ><![CDATA[%dw 2.0
output application/java
---
p('kafka.dltopic.name')]]></ee:set-variable>
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
p('api.response.service.unavailable')]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="impl-common-customer:\handle-exceptions:flow" doc:id="58b4bffe-3cc3-4bfb-a06d-5f4802e0c476" name="sys-kafka-app:\publish-msg-to-kafka" />
				<logger level="ERROR" doc:name="Log Error" doc:id="cb89a108-1db9-4114-9465-87fed9ef6a09" message="#[vars.correlationId] | Error Encountered While Publishing Order Billing Data | #[payload]"/>
			</on-error-continue>
			
		</error-handler>
	</flow>

</mule>
