sfdc-sys-api-v1/META-INF/mule-src/sfdc-sys-api-v1/src/main/mule/system/sys-crm-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6bc821de-d0a4-41ed-8a0c-63fbefabfa06" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<!-- <sub-flow name="sys-crm-api:\upsert-account-to-sfdc" doc:id="484d04b3-e409-4bd9-bd42-9e9e15068f6e" >
		<logger level="INFO" doc:name="Start Upsert Account To Sfdc " doc:id="39def0da-806a-44d7-b149-cd4f0d3c2a61" message="#[vars.correlationId] | Start Upsert Account To Sfdc | Payload: #[payload]"/>
		<salesforce:create-job-bulk-api-v2 doc:name="Create job bulk api v2 to upsert Account" doc:id="8ab6872d-8c8c-4bcf-b4c5-d383e66a1b82" config-ref="sfdc-sys-api-sfdc-config" objectType="Account" externalIdFieldName="Mulesoft_External_ID__c" operation="upsert">
			<reconnect frequency="${secure::sfdc.reconnection.frequency}" count="${secure::sfdc.reconnection.attempts}" />
		</salesforce:create-job-bulk-api-v2>
		<logger level="INFO" doc:name="End Upsert Account To Sfdc" doc:id="5d42eff7-f5b1-4c21-b9bc-36b2eff68fd6" message="#[vars.correlationId] | End Upsert Account To Sfdc | Upsert Job Id: #[payload.id]"/>
	</sub-flow> 

	<sub-flow name="sys-crm-api:\query-account-from-sfdc" doc:id="fd8eadb1-f721-4874-acd4-1135d6fae2ea" >
		<logger level="INFO" doc:name="Start Query Account To Sfdc " doc:id="f20a38ad-115f-4e84-90a2-e5bdcd1c2c5c" message="#[vars.correlationId] | Start Upsert Account From Sfdc | Input Payload: #[payload]"/>
		<salesforce:query doc:name="Query Account Details" doc:id="d472326f-2845-4e82-a65c-9c5a24a3895b" config-ref="sfdc-sys-api-sfdc-config">
			<salesforce:salesforce-query ><![CDATA[SELECT ID FROM :table WHERE :where = ':condition']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/json
-&#45;&#45;
{
	"condition" : vars.condition,
	"table" : vars.table,
	"where" : vars.where
}]]]></salesforce:parameters>
		</salesforce:query>
		<logger level="INFO" doc:name="End Query Account To Sfdc" doc:id="2d754dc0-932c-44bd-b48f-7b3098ba7cb8" message="#[vars.correlationId] | End Account Query From Sfdc | Output Payload: #[payload]"/>
	</sub-flow>


	<sub-flow name="sys-crm-api:\insert-order-to-sfdc" doc:id="960ae327-9c1c-42a1-931d-aaa2f0a99f58" >
		<logger level="INFO" doc:name="Start Insert Order To Sfdc " doc:id="fe85b944-1cf0-4a41-a486-921face9a674" message="#[vars.correlationId] | Start Upsert Account To Sfdc | Payload: #[payload]"/>
		<salesforce:create-job-bulk-api-v2 doc:name="Create job bulk api v2 to Insert Order" doc:id="a9a726dc-5803-47ea-b1b5-0df84a46fd06" config-ref="sfdc-sys-api-sfdc-config" objectType="OrderDetails__c" operation="insert">
			<reconnect frequency="${secure::sfdc.reconnection.frequency}" count="${secure::sfdc.reconnection.attempts}" />
		</salesforce:create-job-bulk-api-v2>
		<logger level="INFO" doc:name="End Insert Order To Sfdc" doc:id="7043a149-2eda-40ed-8bd2-857ccb1de7f5" message="#[vars.correlationId] | End Upsert Account To Sfdc | Upsert Job Id: #[payload.id]"/>
	</sub-flow>
	-->
	<sub-flow name="sys-crm-api:\insert-single-order-to-sfdc" doc:id="f93db6ed-4162-43db-9b51-fbf45c77051f" >
		<logger level="INFO" doc:name="Start Insert Order To Sfdc " doc:id="9dd8e15d-81a2-40ab-ab7a-3c0b416131cb" message="#[vars.correlationId] | Start Upsert Account To Sfdc | Payload: #[payload]"/>
		<salesforce:create doc:name="Insert Order Details" doc:id="d0f30ae4-c127-4cef-b5b6-9ab8885c1910" config-ref="sfdc-sys-api-sfdc-config" type="OrderDetails__c">
		</salesforce:create>
		<logger level="INFO" doc:name="End Insert Order To Sfdc" doc:id="435ad356-448a-490e-a76f-5f1efb3d6614" message="#[vars.correlationId] | End Upsert Account To Sfdc | Upsert Job Id: #[payload.id]"/>
	</sub-flow>

	<!--  <sub-flow name="sys-crm-api:\insert-orderitems-to-sfdc" doc:id="7935aeec-f2d8-4f4e-b60a-05f361c3a17a" >
		<logger level="INFO" doc:name="Start Insert OrderItem To Sfdc " doc:id="08ddf6c8-0154-4921-a37f-f2ccb5bbaf76" message="#[vars.correlationId] | Start Upsert Account To Sfdc | Payload: #[payload]"/>
		<salesforce:create-job-bulk-api-v2 doc:name="Create job bulk api v2 to Insert Order" doc:id="d98785c0-80db-4fa7-9c41-cafc2a752036" config-ref="sfdc-sys-api-sfdc-config" objectType="AOT_Order_Items__c" operation="insert">
			<reconnect frequency="${secure::sfdc.reconnection.frequency}" count="${secure::sfdc.reconnection.attempts}" />
		</salesforce:create-job-bulk-api-v2>
		<logger level="INFO" doc:name="End Insert OrderItem To Sfdc" doc:id="bf42b529-e7b6-45ce-9d2a-d955b6f6e32f" message="#[vars.correlationId] | End Upsert Account To Sfdc | Upsert Job Id: #[payload.id]"/>
	</sub-flow> 

		<sub-flow name="sys-crm-api:\query-job-upsert-state" doc:id="f7051281-0c22-4e61-989c-6285bff3921f" >
		<logger level="INFO" doc:name="Start Query Job Upsert State" doc:id="f7751380-cbf9-45bb-9200-f59a63fe5c54" message="#[vars.correlationId] | Start Query Job Upsert State | Job Upsert Id: #[vars.batchJobUpsertId]"/>
		<salesforce:get-job-state-bulk-api-v2 doc:name="Get job state bulk api v2" doc:id="4db9753e-8b1f-4df9-8f09-b24cc883fb5a" config-ref="sfdc-sys-api-sfdc-config" id="#[vars.batchJobUpsertId]">
			<reconnect-forever frequency="${secure::sfdc.reconnection.frequency}" />
		</salesforce:get-job-state-bulk-api-v2>
		<logger level="INFO" doc:name="End Query Job Upsert State" doc:id="e92b0bd1-f799-46a1-845f-0d028462253c" message="#[vars.correlationId] | End Query Job Upsert State |]"/>
	</sub-flow>

    <sub-flow name="sys-crm-api:\query-job-order-insert-state" doc:id="85c23add-c54b-423c-b7d4-1de95d6e987a" >
		<logger level="INFO" doc:name="Start Query Job Order Insert State" doc:id="678ad3af-c7a6-48a1-aa10-281f98418f8e" message="#[vars.correlationId] | Start Query Job Upsert State | Job Upsert Id: #[vars.batchJobOrderInsertId]"/>
		<salesforce:get-job-state-bulk-api-v2 doc:name="Get job state bulk api v2" doc:id="07a807de-6247-47f3-9c08-c90c32ec1895" config-ref="sfdc-sys-api-sfdc-config" id="#[vars.batchJobOrderInsertId]">
			<reconnect-forever frequency="${secure::sfdc.reconnection.frequency}" />
		</salesforce:get-job-state-bulk-api-v2>
		<logger level="INFO" doc:name="End Query Job Order Insert State" doc:id="bccbb736-f565-49a1-b5b7-c45ba4b5db5b" message="#[vars.correlationId] | End Query Job Order Insert State |]"/>
	</sub-flow>

	<sub-flow name="sys-crm-api:\query-job-order-item-insert-state" doc:id="7bb83a35-0a81-44ad-a394-3715f4df77f1" >
		<logger level="INFO" doc:name="Start Query Job Order Item Insert State" doc:id="e5d7e5e3-b9dc-4a7a-a0d6-d20415361dc5" message="#[vars.correlationId] | Start Query Job Upsert State | Job Upsert Id: #[vars.batchJobOIInsertId]"/>
		<salesforce:get-job-state-bulk-api-v2 doc:name="Get job state bulk api v2" doc:id="44237012-d0c8-4795-9386-be6a3177048e" config-ref="sfdc-sys-api-sfdc-config" id="#[vars.batchJobOIInsertId]">
			<reconnect-forever frequency="${secure::sfdc.reconnection.frequency}" />
		</salesforce:get-job-state-bulk-api-v2>
		<logger level="INFO" doc:name="End Query Job Order Item Insert State" doc:id="55c324cf-df61-41cc-9dcd-da8f07949266" message="#[vars.correlationId] | End Query Job Order Item Insert State |]"/>
	</sub-flow>

	<flow name="get-job-state" doc:id="17aab23c-0e98-4a2a-a9a8-43fd10ad6df1" >
		<http:listener doc:name="Listener" doc:id="7c5d1197-d8b3-4e17-b670-93d84cd4d8e4" config-ref="HTTP_Listener_config" path="/state"/>
		<ee:transform doc:name="Transform Message" doc:id="f6a99dc8-30c9-4b5e-8b3a-c01d43600f3b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="batchJobUpsertId" ><![CDATA[%dw 2.0
output application/java
-&#45;&#45;
payload.batchJobUpsertId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="sys-crm-api:\query-job-upsert-state" doc:id="fbdfcaea-f372-49d3-b974-f9c18d01b120" name="sys-crm-api:\query-job-upsert-state"/>
		<ee:transform doc:name="Transform Message" doc:id="350eaa3a-4ee1-42ba-bca3-2be2ca87b2a5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="sys-crm-apiFlow" doc:id="84b434f4-7c52-4aa3-bd5e-899f78b0b257" >
		<http:listener doc:name="Listener" doc:id="75931287-7e2e-484a-8aff-5b956b747a1d" config-ref="HTTP_Listener_config" path="/query"/>
		<ee:transform doc:name="setQuery" doc:id="39a6b09d-f72e-4a67-bc23-374c08dd8528" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="where" ><![CDATA[%dw 2.0
output application/java
-&#45;&#45;
payload.where]]></ee:set-variable>
				<ee:set-variable variableName="condition" ><![CDATA[%dw 2.0
output application/java
-&#45;&#45;
payload.condition]]></ee:set-variable>
				<ee:set-variable variableName="table" ><![CDATA[%dw 2.0
output application/java
-&#45;&#45;
payload.table]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="979ab794-8a40-4899-b03c-a21627ff7b0e" config-ref="sfdc-sys-api-sfdc-config">
			<salesforce:salesforce-query ><![CDATA[SELECT ID FROM :table WHERE :where = ':condition']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
-&#45;&#45;
{
	condition : vars.condition,
	where : vars.where,
	table : vars.table
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="dd89a2d1-99ab-486a-84d2-351f4a7ba8e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dc69420f-bc80-46af-af68-c0a1694f43b4" message='#["Size :" ++ sizeOf(payload)]'/>
	</flow>

	<sub-flow name="sys-crm-api:\create-query-job" doc:id="6dfd91ad-69fe-4dc6-a123-65e9c50b5c5d" >
		<logger level="INFO" doc:name="Start Create Query Job In  SFDC" doc:id="7b573bc5-7442-4127-940e-df434e1f6d93" message="#[vars.correlationId] | Start Create Query Job In SFDC Query: #[vars.query]" />
		<salesforce:create-query-job-bulk-api-v2 doc:name="Create query job bulk api v2 Account" doc:id="bd859833-23f1-43c5-b819-181ab9472a34" config-ref="sfdc-sys-api-sfdc-config" query="#[vars.query]">
			<reconnect-forever frequency="${secure::sfdc.reconnection.frequency}" />
		</salesforce:create-query-job-bulk-api-v2>
		<logger level="INFO" doc:name="End Create Query Job In SFDC" doc:id="f3d9c006-de30-4611-bc35-17519c765ae1" message='#[vars.correlationId] | End Create Query Job In  SFDC | Job Query Id #[payload.id default ""]' />
	</sub-flow>
		<sub-flow name="sys-crm-api:\query-job-status" doc:id="c9e0ce9e-39c0-465b-b9f1-865433d33abb" >
		<logger level="INFO" doc:name="Start Query Job Status " doc:id="e5ac8398-d399-4369-86df-db39e674075a" message='#[vars.correlationId] | Start Query Job Status | Batch Job Id #[vars.batchJobQueryId default ""]' />
		<salesforce:get-query-job-info-bulk-api-v2 doc:name="Get query job info bulk api v 2" doc:id="9a2b79ce-e36b-4c39-8392-b9a1063ce612" config-ref="sfdc-sys-api-sfdc-config" id="#[vars.batchJobQueryId]">
			<reconnect-forever frequency="${secure::sfdc.reconnection.frequency}" />
		</salesforce:get-query-job-info-bulk-api-v2>
		<logger level="INFO" doc:name="End Query Job Status" doc:id="72d2d51b-b19a-421b-824d-0a4fbe2dc271" message='#[vars.correlationId] | End Query Job Status | Batch Job Id #[vars.batchJobQueryId] | Status : #[payload.state default ""]' />
	</sub-flow>
	<sub-flow name="sys-crm-api:\query-job-result" doc:id="4a1c27ca-e5b5-4195-9037-072b4d259959" >
		<logger level="INFO" doc:name="Start Query Job Result In SFDC" doc:id="a1d7528e-35bf-445d-bfc4-d930715bd031" message="#[vars.correlationId] | Start Query Job Result In SFDC | BatchJob Id : #[vars.batchJobId]" />
		<salesforce:get-query-job-results-bulk-api-v2 doc:name="Get query job results bulk api v 2" doc:id="9c38db3d-9f39-4309-9d36-d43ef61f3b87" config-ref="sfdc-sys-api-sfdc-config" id='#[vars.batchJobQueryId]' maxRecordsPerPage="${secure::sfdc.max.records.per.page}">
			<reconnect-forever frequency="${secure::sfdc.reconnection.frequency}" />
		</salesforce:get-query-job-results-bulk-api-v2>
		<logger level="INFO" doc:name="End Query Job Result In SFDC" doc:id="295fd441-3661-4897-ba82-ce9824c14118" message="#[vars.correlationId] | End Query Job Result In SFDC | Batch Job Id: #[vars.batchJobId] | Results: #[payload]" />
	</sub-flow>
		<sub-flow name="sys-crm-api:\upsert-success-job-result" doc:id="60ee62da-531d-44a8-baa7-66d2f5ac136e" >
		<logger level="INFO" doc:name="Start Get Success Upsert Job Result" doc:id="38092ee4-40ec-4ba6-8cde-56e62ac038cf" message="#[vars.correlationId] | Start Get Success Upsert Job Result | BatchJob Id : #[vars.batchJobUpsertId]" />
		<salesforce:retrieve-job-successful-results-bulk-v2 doc:name="Retrieve job successful results bulk v 2" doc:id="18880cdd-f96e-40eb-b58e-236584fa1bfb" config-ref="sfdc-sys-api-sfdc-config" id="#[vars.batchJobUpsertId]">
			<reconnect-forever frequency="${secure::sfdc.reconnection.frequency}" />
		</salesforce:retrieve-job-successful-results-bulk-v2>
		<logger level="INFO" doc:name="End  Get Success Upsert Job Result " doc:id="054c80d8-6c56-43a4-a79b-cb7e970189ee" message='#[%dw 2.0
output application/json
-&#45;&#45;
vars.correlationId ++  " | " ++ "End  Get Success Upsert Job Result  | Batch Job Id:" ++  "|" ++ vars.batchJobUpsertId ++  "|" ++ "Results:" ++ write(payload,"application/json")]' />
	</sub-flow>
		<sub-flow name="sys-crm-api:\upsert-failed-job-result" doc:id="ce2fd0b5-cfa3-4568-91df-626e1a282410" >
		<logger level="INFO" doc:name="Start Get Failed Upsert Job Result " doc:id="fd077cac-58da-4e15-bf81-6849dcd3287f" message="#[vars.correlationId] | Start Get Failed Upsert Job Result  | BatchJob Id : #[vars.batchJobUpsertId]" />
		<salesforce:retrieve-job-failed-results-bulk-v2 doc:name="Retrieve job failed results bulk v 2" doc:id="bc8eeda9-11f0-4b49-8ab5-7f8fa6677c36" config-ref="sfdc-sys-api-sfdc-config" id="#[vars.batchJobUpsertId]">
			<reconnect-forever frequency="${secure::sfdc.reconnection.frequency}" />
		</salesforce:retrieve-job-failed-results-bulk-v2>
		<logger level="INFO" doc:name="End  Get Upsert Job Result " doc:id="a489ed20-f637-4031-bba0-1a3696d871bb" message="#[vars.correlationId] | End  Get Upsert Job Result | Batch Job Id: #[vars.batchJobUpsertId] | Results: #[payload]" />
	</sub-flow> -->
</mule>
